html {
	font-family: sans-serif;
}

main {
	max-width: 960px;
}

a {
	text-decoration: none;
}

#entity {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: stretch;

/*	background-color: lightblue;*/
	width: 100%;
}

#contDiagram {
	margin: 2em auto;
	width: 360px;
}

.routeRow {
	overflow: hidden;
	display: grid;
	grid-column-gap: 2em;
	grid-template-columns: 40% 60%;
	padding: 1em 0;
}

.routePoint {
	padding-right: 1em;
		position: relative;
	text-align: right;
}

.routeStnName {
	padding-left: 1em;
	position: relative;
	top: 50%;
	height: 24px;
	margin-top: -10px;
	text-align: left;
}



/******* POINTS *******/

.pointMain {
	height: 15px;
	background-color: #FFFFFF;
	border-radius: 1em;
	border-style: solid;
	margin-left: auto;
}

.pointSpecRapid {
	width: 45px;
}

.pointCommRapid {
	width: 30px;
}

.pointLocal {
	width: 15px;
}


/******* POINTS (TABLE)******/

.line-diagram-header {
	text-align: center;
}

.table-center {
	margin-left: auto;
	margin-right: auto;
}

.table-prop {
	padding: 1em 0.5em;
}

.table-line-groups {
	position: absolute;
}

.table-line-specRapid {
  position: absolute;
  top: 30%;
  left: 24%;
  width: 5px;
  height: 1060%;
  background: rgb(255, 0, 0);
  z-index: -10;
}

.table-line-commRapid {
  position: absolute;
  top: 30%;
  left: 46%;
  width: 5px;
  height: 1060%;
  background: rgb(0, 128, 0);
  z-index: -10;
}

.table-line-local {
  position: absolute;
  top: 30%;
  left: 68%;
  width: 5px;
  height: 1060%;
  background: rgb(130, 130, 130);
  z-index: -10;
}

.station-code {
	height: 1.5em;
	width: 2.5em;
	line-height: 1.5em;
	text-align: center;
	background-color: rgb(153, 102, 204);
	color: #FFF;
}


/******* LINE ICONS *******/

.td-line-icons {
	text-align: right;
}

.line-icon {
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	border-radius: 3px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	display: inline-block;
}

.line-icon-lg {
	height: 2em;
	width: 2em;
	line-height: 2em;
}

.line-name {
	padding-left: 0.5em;
	color: rgb(153, 102, 204);
	font-weight: bold;
}

.line-icon-A {
	background-color: rgb(153, 102, 204);
}

.line-icon-C {
	background-color: rgb(255, 99, 71);
}

.line-icon-R {
	background-color: rgb(178, 34, 34);
}

.line-icon-E {
	background-color: rgb(60, 179, 113);
}


/******* BUTTONS *******/

#routeTogglers {
	margin: 2em;
}

.routeBtnGroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.routeBtnGroup button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	float: left;

	margin: 1em;

	border: none;
	border-radius: 0.3em;

	color: white;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 1.2em;
}

.routeBtnGroup:after {
	content: "";
	clear: both;
	display: table;
}

.buttonLocal {
	display: table-cell;
	background-color: rgb(130, 130, 130);
}

.buttonCommRapid {
	display: table-cell;
	background-color: rgb(0, 128, 0);
}

.buttonSpecRapid {
	display: table-cell;
	background-color: rgb(255, 0, 0);
}


/******* FREQUENCY VISIBILITY *******/

.freq-invisible {
	opacity: 10%;
	transition: opacity ease-out 0.25s;
}

.freq-visible {
	opacity: 100%;
	transition: opacity ease-out 0.25s;
}


/******* @MEDIA *******/

@media (max-width: 768px) {

	#contTogglersMaster {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (max-width: 800px) {
	.routeBtnGroup button {
		margin: 0.5em;
	}
}