html {
	font-family: sans-serif;
}

main {
	max-width: 960px;
}

a {
	text-decoration: none;
}

#entity {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: stretch;

/*	background-color: lightblue;*/
	width: 100%;
}

#contDiagram {
	margin: 2em auto;
	width: 360px;
}

.routeRow {
	overflow: hidden;
	display: grid;
	grid-column-gap: 2em;
	grid-template-columns: 40% 60%;
	padding: 1em 0;
}

.routePoint {
	padding-right: 1em;
		position: relative;
	text-align: right;
}

.routeStnName {
	padding-left: 1em;
	position: relative;
	top: 50%;
	height: 24px;
	margin-top: -10px;
	text-align: left;
}



/******* POINTS *******/

.pointMain {
	height: 20px;
	background-color: #FFFFFF;
	border-radius: 1em;
	border-style: solid;
	margin-left: auto;
}

.pointSpecRapid {
	width: 80px;
}

.pointCommRapid {
	width: 50px;
}

.pointLocal {
	width: 20px;
}


/******* POINTS (TABLE)******/

.table-center {
	margin-left: auto;
	margin-right: auto;
}

.table-prop {
	padding: 1em 1em;
}

.table-line-groups {
	position: absolute;
}

.table-line-specRapid::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 22%;
  width: 10px;
  height: 530%;
  background: rgb(255, 0, 0);
  z-index: -1;
}

.table-line-commRapid::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 46.5%;
  width: 10px;
  height: 530%;
  background: rgb(0, 128, 0);
  z-index: -1;
}

.table-line-local::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 71%;
  width: 10px;
  height: 530%;
  background: rgb(130, 130, 130);
  z-index: -1;
}

.tr-visibility {
}


/******* BUTTONS *******/

#routeTogglers {
	margin: 2em;
}

.routeBtnGroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.routeBtnGroup button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	float: left;

	margin: 1em;

	border: none;
	border-radius: 0.3em;

	color: white;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 1.2em;
}

.routeBtnGroup:after {
	content: "";
	clear: both;
	display: table;
}

.buttonLocal {
	display: table-cell;
	background-color: rgb(130, 130, 130);
}

.buttonLocal:hover {
	background-color: rgb(100, 100, 100);
	transition: background-color ease-out 0.5s;
}

.buttonCommRapid {
	display: table-cell;
	background-color: rgb(0, 128, 0);
}

.buttonCommRapid:hover {
	background-color: rgb(0, 98, 0);
	transition: background-color ease-out 0.5s;
}

.buttonSpecRapid {
	display: table-cell;
	background-color: rgb(255, 0, 0);
}

.buttonSpecRapid:hover {
	background-color: rgb(215, 0, 0);
	transition: background-color ease-out 0.5s;
}


/******* @MEDIA *******/

@media (max-width: 768px) {

	#contTogglersMaster {
		grid-template-columns: repeat(3, 1fr);
	}
}